/* add your CSS here */

img{
	width:300px;
}

.Label{
	font-weight:bold;
}

.interesting-fact{
	font-style:italic;
}

#body-content{
	font-family:Helvetica, sans-serif;
	font-size:12px;
	width:300px;
	border:1px solid #C4C4C4;
	padding:10px;
	box-shadow: 5px 5px 0px 0px rgba(227,227,227,1);
}

#description{
	border:1px solid #C4C4C4;
	padding:10px;
	padding-top: 0px;
	margin-top: 10px;
}

ul{
	list-style-type: none;
	padding: 0px;
}